div {
    color: white;
    font-weight: 100;
    text-align: center;
    padding-top: 50px;
}

body {
    background-image: url(imgs/galaxy.gif);
}

h4 {
    color: white;
}

span {
    color: white;
}